
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dongle-regular {
    font-family: "Dongle", sans-serif;
    font-weight: 500;
    font-style: normal;
 text-align: center;
  }

  .headBackground{
    background-color: #1b2a31;
  }

  .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .poetsen-one-regular2 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
  }
  .poetsen-one-regular2:hover {
  color: grey;
  }
  