@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.headBackground {
  background-color: #1b2a31;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poetsen-one-regular2 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}
.poetsen-one-regular2:hover {
  color: grey;
}

/* button explore me       ////////////////////////////////////////////////////////////////////////////////*/
.btn-60,
.btn-60 *,
.btn-60 :after,
.btn-60 :before,
.btn-60:after,
.btn-60:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-60 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; /* Added standard property for compatibility */
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  mask-image: radial-gradient(
    #000,
    #fff
  ); /* Also defined the standard property */
  padding: 0;
}

.btn-60:disabled {
  cursor: default;
}

.btn-60:-moz-focusring {
  outline: auto;
}

.btn-60 svg {
  display: block;
  /* vertical-align: middle; */
}

.btn-60 [hidden] {
  display: none;
}

.btn-60 {
  background: none;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  mask-image: none; /* Reset mask-image */
  padding: 1.5rem 4rem;
  position: relative;
  text-transform: uppercase;
}

.btn-60 span {
  background: #fff;
  border: 1px solid;
  border-radius: 999px;
  display: grid;
  inset: 0;
  place-items: center;
  pointer-events: none;
  position: absolute;
}

.btn-60:hover span {
  -webkit-animation: jello 0.8s;
  animation: jello 0.8s;
}

@-webkit-keyframes jello {
  0%,
  11.1%,
  to {
    transform: translateZ(0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello {
  0%,
  11.1%,
  to {
    transform: translateZ(0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

 /* button end 


 /* input */
 .wrap-input-3 .input {
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid 
#ccc;
  background-color: 
#f5f6fd;
padding-left: 10px;

}

.wrap-input-3 .input:focus {
  outline: none;
}

.wrap-input-3 {
  width: 80%;
  margin: 40px 3%;
  position: relative;
}

.wrap-input-3 .input ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 99;
}
.wrap-input-3 .input ~ .focus-border:before,
.wrap-input-3 .input ~ .focus-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: 
#6c5dd3;
  transition: 0.4s;
}
.wrap-input-3 .input ~ .focus-border:after {
  left: auto;
  right: 0;
}
.wrap-input-3 .input:focus ~ .focus-border:before,
.wrap-input-3 .input:focus ~ .focus-border:after {
  width: 50%;
  transition: 0.4s;
}


/* input end*/


.cardsContainer {
  /* Your default styles */
  z-index: 0;
}

.cardsContainerClicked {
  /* Styles when button is clicked */
  z-index: -1;
}


/* contact btn */
.btn-77,
.btn-77 *,
.btn-77 :after,
.btn-77 :before,
.btn-77:after,
.btn-77:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-77 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  -moz-appearance: button; /* Standard property for Firefox */
  appearance: button; /* Standard property */
  background-color: rgb(134, 242, 134);
  background-image: none;
  color: black;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  border-radius: 999px;
  box-shadow: 0 0 0 2em transparent;
  text-transform: uppercase;
}

.btn-77:disabled {
  cursor: default;
}

.btn-77:-moz-focusring {
  outline: auto;
}

.btn-77 svg {
  display: block;
}

.btn-77 [hidden] {
  display: none;
}

.btn-77 {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .btn-77 {
    padding: 0.2rem 1.2rem;
  }
}


@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
